/* 
Project Name: Ecard.ly - RESPONSIVE
Client: General Assembly 
Author: Christopher Castig | @castig
Developer @GA in NYC
Student: Courtney Mitchell;
*/

/******************************************

General Styling - 
	font, 
	background,
	ul, li,
	global header

*******************************************/
body {
	background:url(../images/background.jpg) repeat-x #d6d6d6;
	color: #333
}
p {
	font-size: 12px;
	line-height:1.5em;
}
a {
	text-decoration: none;
	color: #333;
}
	a:visited, a:hover {
		text-decoration:none;
		color: #000;
	}
h2 {
	font-size: 20px;
}
ul {
	list-style: none;
	margin: 0;
}
li {
	font-size:12px;
	font-weight:800;
	text-transform: none;
	line-height:1.7;
}
header h1 a {
	display: block;
	width: 216px;
	height: 213px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url(../images/logo.png);
	margin: 0 auto;
}

/******************************************

Layout Styling - 
	main, 
	well, 
	blogroll,
	sidebar, 
	posts

*******************************************/

#main {
	max-width: 960px;
	margin: 0 auto;
	margin-top: 30px;
}
.well {
	background: #fff;
	border: none;
	margin: 0;
}
#sidebar .well {
	padding: 30px;
}
#blogroll .post h2 a {
	color: #333;
}
#blogroll, #sidebar {
	background: #fff;
}
#sidebar h3 {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 800;
}
a.red {
	color: #f00;
	font-weight: 800;
	text-transform: uppercase;
}
.post h2 {
	padding: 20px 0;
}
.post-footer {
	border-top: 1px dotted #333;
	border-bottom: 1px solid #333;
}
.post-footer p {
	margin: 1em 0;
}
.post-footer a.red {
	text-transform:none;
}

/******************************************

Advertisements

*******************************************/

ul#ads li {
	margin-top: 20px;
}
ul#ads li:first-child a {
	width:220px;
	height:116px;
	display:block;
	background:url(../images/ad-cut-and-paste.gif);
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}
ul#ads li:nth-child(2) a {
	width: 220px;
	height: 116px;
	display: block;
	background:url(../images/ad-postcard-tee.png);
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}
ul#ads li:nth-child(3) a {
	width:220px;
	height:75px;
	display:block;
	background:url(../images/ad-submit-your-own.png);
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}

/******************************************

Global Footer 

*******************************************/
footer ul {
	margin: 50px 0;
	text-align:center;
}
footer li {
	display: inline;
}
footer ul li:first-child a {
	width:42px;
	height:42px;
	display:inline-block;
	background:url(../images/social-icon-twitter.png);

	text-indent:100%;
	white-space: nowrap;
	overflow:hidden;
}
footer ul li:nth-child(2) a {
	width:42px;
	height:42px;
	display:inline-block;
	background:url(../images/social-icon-facebook.png);

	text-indent:100%;
	white-space: nowrap;
	overflow:hidden;
}
footer ul li:nth-child(3) a {
	width:42px;
	height:42px;
	display:inline-block;
	background:url(../images/social-icon-pinterest.png);

	text-indent:100%;
	white-space: nowrap;
	overflow:hidden;
}

/******************************************

Clear/Clearfix

*******************************************/

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}
